<%inherit file="/shared/layout.html" />

<%block name="head">
  <title>Adventures - Edit</title>
</%block>

<%block name="content">
  <div class="container">
    <h1>Edit Adventure</h1>

    <form action="/adventures/${adventure.id}?_method=put" method="post">
      <div class="form-group">
        <input type="text" name="title" placeholder="Title" value="${adventure.title}" class="form-control"/>
      </div>
      <div class="form-group">
        <input type="text" name="description" placeholder="Description" value="${adventure.description}" class="form-control"/>
      </div>
      <div class="form-group">
        <input type="checkbox" id="draft" name="draft" class="form-check-input"/>
        <label for="draft">Draft</label>
      </div>
      <input type="submit" value="Submit" class="btn btn-success btn-sm"/>
      <a href="/adventures/" class="btn btn-info btn-sm">Cancel</a>
    </form>
  </div>
</%block>
