<%inherit file="/shared/layout.html" />

<%block name="head">
  <title>Adventures - Details</title>
</%block>

<%block name="content">
  <div class="container">
    <h1>Show Adventure</h1>

    <p>${adventure.title}</p>
    <p>${adventure.description}</p>
    <p>${adventure.draft}</p>
    <p>
      <a href="/adventures/" class="btn btn-info btn-sm">List</a>
      <a href="/adventures/${adventure.id}/edit" class="btn btn-success btn-sm">Edit</a>
      <a href="/adventures/${adventure.id}/delete" data-method="delete" data-confirm="Are you sure?" class="btn btn-danger btn-sm">Delete</a>
    </p>
  </div>
</%block>
