<%inherit file="/shared/layout.html" />

<%block name="head">
  <title>Adventures</title>
</%block>

<%block name="content">
  <div class="container">
    <h1 class="display-4">Choose Your Own Adventure</h1>
    <div class="row">
    % for adventure in adventures:
      <div class="col-4 card">
        <div class="card-body">
          <h5 class="card-title">${adventure.title}</h5>
          <h6 class="card-subtitle text-muted">${adventure.author.email}</h6>
          <p class="card-text">${adventure.description}</p>
          <a href="/details/${adventure.id}" class="btn btn-primary">Details</a>
        </div>
      </div>
    % endfor
    </div>
  </div>
</%block>
